# .gitignore file for MacPorts

# Base
*.dSYM
*.dylib
*.[ao]
*_autoconf.tcl
base/doc/*.gz
base/doc/*.mtree
base/doc/*.xml
base/doc/.dep
base/doc/macports.conf
base/doc/pubkeys.conf
base/Doxyfile
base/Mk/macports.autoconf.mk
base/portmgr/dmg/postflight
base/setupenv.bash
base/src/config.h
base/src/cregistry/macports.sqlext
base/src/darwintracelib1.0/*.d
base/src/darwintracelib1.0/sip_copy_proc.[ch]
base/src/machista1.0/tests/libmachista-test
base/src/pkg_mkindex.sh
base/src/port/port
base/src/port/portindex
base/src/port/portmirror
base/src/programs/daemondo/build/
base/src/*.tcl
base/tests/test/library.tcl
base/tests/test/trace/test.tcl
base/tests/test.tcl
base/vendor/*/
config.log
config.status
Makefile
pkgIndex.tcl

# Docs
doc-new/guide.tmp.xml
doc-new/guide/html/
doc-new/guide/resources/xsl
doc-new/man/man/
doc-new/man/resources/macports.xsl

# Ports
PortIndex*
work
